// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tag_cloud {
  line-height: 1.6em;
  .s {
    font-size: 0.8em;
    color: #DCCCFF;
  }

  .m {
    font-size: 1.2em;
    color: #AF7AFF;
  }

  .l {
    font-size: 1.4em;
    color: #6F2DFC;
  }
}
